header{
    background-image: url("/images/background1.jpg")
}
body {
  background-color: white;
  background-size:cover;
  background-attachment: scroll|fixed;
  background-position:top bottom;
  /*background-repeat: repeat-y;*/
  color: black

}
body.about {
  background-color: white;
  background-size:cover;
  background-position:top left;
  color: black

}
body.interest {
  background-color: white;
  background-size:cover;

  background-image: url("/images/lake.jpg");

  background-position:top left;
  /*background-repeat: repeat-y;*/
  color: black

}
body.home {ackground-color: white;
  background-size:cover;
  /*background-image: url("https://hd.unsplash.com/photo-1418225162054-0f773a996f9e");*/
  background-image: url("file:///C:/Users/Sylvia/apps/static-sites/Portfolio/images/main-background.jpg");
  background-attachment: scroll|fixed;
  background-position:top bottom;
  /*background-repeat: repeat-y;*/
  color: black

}

/* Navigation Menu - Background */
.navigation {
  /* critical sizing and position styles */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;

  /* non-critical appearance styles */
  list-style: none;
  background: none;
}

/* Navigation Menu - List items */
.nav-item {
  /* non-critical appearance styles */
  width: 150px;
  /*border-top: 1px solid #111;
  border-bottom: 1px solid #000;*/
}

.nav-item a {
  /* non-critical appearance styles */
  display: block;
  padding: 1em;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.2s, background 0.5s;
}

.nav-item a:hover {
  color: #c74438;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(75,20,20,0.65) 100%);
}

/* Site Wrapper - Everything that isn't navigation */
.site-wrap {
  /* Critical position and size styles */
  min-height: 100%;
  min-width: 100%;
  background-image: url("/images/main-background.jpg");

  /*background-color: white; /* Needs a background or else the nav will show through*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center top;
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;

  /* non-critical apperance styles */
  padding: 4em;
  /*background-image: linear-gradient(135deg, rgb(254,255,255) 0%,rgb(221,241,249) 35%,rgb(160,216,239) 100%);*/
  /*background-size: 250%;*/
}

/* Nav Trigger */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  /* critical positioning styles */
  position: fixed;
  left: 15px; top: 15px;
  z-index: 2;

  /* non-critical apperance styles */
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url("https://cdn4.iconfinder.com/data/icons/basic-ui-elements/700/06_menu_stack-512.png");
  /*background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");*/
  background-size: contain;
}

/* Make the Magic Happen */
.nav-trigger + label, .site-wrap {
  transition: left 0.2s;
}

.nav-trigger:checked + label {
  left: 165px;
}

.nav-trigger:checked ~ .site-wrap {
  left: 100px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

body {
	/* Without this, the body has excess horizontal scroll when the menu is open */
  overflow-x: hidden;
}

/* Additional non-critical styles */

h1, h3, p {
  max-width: 600px;
  margin: 0 auto 1em;
}

code {
	padding: 2px;
	background: #ddd;
}

/* Micro reset */
/**,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;}*/
*,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;}
html, body { height: 100%; width: 100%; font-family: 'Lato', sans-serif; }

.intro {
  color: #fff;
    background-color: #728473;
    padding: 25px;
    opacity: 0.7;
    margin-top: 10px;
    width: 300px;
    height: auto;
    margin-left: 50px;

}
.intro h1 {
  font-size: 40px;


}
.intro a{
  color: white;
  text-decoration: none;
  padding: 10px;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    line-height: 46px;
    font-size: 43px;
    margin: 0 0 23px 0;
    }
h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: -1px;
    margin: 0 0 23px 0;
    }
h3 {
font-family: 'Lato', sans-serif;
font-size: 20px;
line-height: 23px;
letter-spacing: -1px;
}
p {
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    line-height: 23px;
    margin: 0 0 23px 0;
    }

    /* Rotate */
    .hover06 figure img {
    	-webkit-transform: rotate(15deg) scale(1.4);
    	transform: rotate(15deg) scale(1.4);
    	-webkit-transition: .3s ease-in-out;
    	transition: .3s ease-in-out;
    }

    .ghost-button-rounded-corners {
     display: inline-block;

     width: 300px;
     padding: 10px;
     color: #3C3A21;
     text-shadow: 3px;
     border: 5px solid #728473;
     border-radius: 10px;
     text-align: center;
     font-size: 20px;
     outline: none;
     text-decoration: none;
       margin: 0 0 0.25em 0;
    }

    .ghost-button-rounded-corners:hover,
    .ghost-button-rounded-corners:active {
     background-color: #fff;
     color: #000;

    }

.NavMenu {
      width:300px;
      margin-left: 50px;
}
.NavMenu ul {
  list-style-type: none;
  padding-left: 0px
}

.interestblock{
  background-color:#bde3ef;
  opacity: 0.8;
margin-left: 20px
}
